* {
    box-sizing: border-box;
}

body {
    background-color: #F2E3D5;
}

.caja1 {
    background-color: #ff0000;
    height: 150px;
    border: 1px solid black;
}

.caja2 {
    background-color: #7e2323;
    height: 150px;
    border: 1px solid black;
}
.caja5 {
    background-color: aqua;
}

@media (max-width: 768px) {
    .eliminarCel {
        display: none;
    }
}

@media (max-width: 992px) {
    .eliminarCel2 {
        display: none;
    }
}